@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.header {
    height: 12vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: bolder;
}

.pogo {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.pogo i {
    font-size: 1.5em;
}

.header .para {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.para p {
    font-weight: bolder;
    font-size: 1em;
    transition: all 0.2s ease-in-out;


}

.para p:hover {
    color: rgb(22, 196, 22);
    /* transform: scale(1.1); */
}

.box {
    /* height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(bubbles.svg)center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    background-position: center;
    /* overflow: hidden; */
}

.box .boxes {
    display: flex;
    justify-content: start;
    align-items: center;
    /* gap:40px; */
    margin-top: 77px;
}

.mobilebox {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes .box1 {
    height: 550px;
    /* flex: 1; */
    width: 300px;
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    text-align: center;
}

.box1 h1 {
    font-size: 2.5em;
    font: bold;

}

.box1 img {
    height: 470px;
    margin-top: 25px;
}

.boxes .box2 {
    height: 400px;
    /* width: 800px; */
    flex: 2;
    padding-inline: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;


}

.box2 h1 {
    font-family: "Inter", sans-serif;
    margin-top: 50px;
    color: white;
    font-size: clamp(2em, 8vw, 4em);
}

.box2 a {
    transition: all 0.3s ease-in-out;
}

.box2 button {
    font-family: "Inter", sans-serif;
    height: 50px;
    width: 220px;
    font-size: 1.5em;
    font: bolder;
    margin-top: 30px;
    border-radius: 30px;
    border: none;

}

.box2 a:hover {
    transform: scale(1.1);
}

.ask {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;



}

.ask h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 50px
}

.lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.list {

    width: 300px;
    padding: 30px;
    text-align: center;

}

.list li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px;




}

.list li img {
    height: 150px;

}

.list li h3 {
    font-size: 1.5em;
    font: bolder;
    margin-top: 30px;
}

.list li p {

    font-size: 1.10em;
    margin-top: 15px;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 100%;
    background: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));

}

.content h2 {
    color: white;
    font-size: 3.5em;
    text-align: center;
}

.questioncontainer {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    /* justify-content: center; */
}

.questioncontainer h1 {
    font-size: 2.5em;
    margin-top: 40px;
    text-align: center;
}

.questions {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 90px;
}

.questions .question {
    display: flex;
    justify-content: space-between;
    height: 60px;

}

.question p {
    font-size: 1.3em;
    font: bolder;
    font-weight: 900;
    padding: 20px;


}

.question p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    background: url(lets-play.svg)center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(74, 7, 156) -5%, rgb(189, 82, 146));
    background-position: center -138px;
    ;

}

.play h1 {
    /* font-size: 4.3em; */
    font-size: clamp(2em, 5vw, 4.3em);
    font-weight: 900;
    font: bolder;
    color: white;
}

.play a {
    transition: all 0.3s ease-in-out;
}

.play button {
    height: 50px;
    width: 220px;
    font-size: 1.5em;
    font: bolder;
    margin-top: 30px;
    border-radius: 30px;
    border: none;
    font-weight: 500;
}

.play a:hover {
    transform: scale(1.1);
}

.next {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 40px;
    padding-block: 120px;
    font-size: 1.5em;
    background: #000;
    color: white;
}
/* .listed {
    width: 200px;
} */
.listing {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px
}

.listed ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.listed li {
    list-style: none;
    font-size: 0.80em;
    font-weight: 700;
}

.logo {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;
    gap: 10px;
    font-size: 48px;
    margin-top: 30px;

}

.logo i {
    background-color: rgb(54, 52, 52);
    height: 60px;
    width: 60px;
    border-radius: 999px;
    padding: 15px;
    margin-top: 10px;
    font-size: 30px;
}

.listed li:hover {
    color: rgb(22, 196, 22);
}

.logo i:hover {
    color: rgb(22, 196, 22);

}

.footer {
    background: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding: 50px;
    font-size: 0.80;
}

.footest {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    color: rgb(151, 148, 148);
}

.footest p {
    font-size: 0.95em;
}

.footest p:hover {
    color: rgb(22, 196, 22);

}

.foot {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(151, 148, 148);
    font-size: 0.80em;
}

.foot p:hover {
    color: rgb(22, 196, 22);

}

@media only screen and (max-width : 800px) {
    .boxes .mobilebox {
        display: none;
    }

    .header .para {
        display: none;
    }
}